html, body {
  background: url(./images/giphy.gif) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
 
}
.container {
background-color: #fff;
opacity: 0.9;
padding: 20px;
}

.jumbotron {
  background-color: inherit;
}
.jumbotron .h1, .jumbotron h1 {
  text-align: center;
}
#gifBtn{
  height:20%;
}

#gifsHere{
  background-color: #fff;
}
#input-box{
  background-color:azure;
}
#action-input{
  width:100%;
}
input{
  margin:3%;
  width:70%;
}
img{
  max-width: 100%;
}
.big-container{
  margin-top: 5%;
}
.text-center{
  color: white;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: red;
}
.image{
  margin-bottom: 5%;
}




















/* body {
    font: 18px arial, sans-serif;
    background: #eee;
  }
  
  #fruit {
    width:60%;
  }
  
  .fruit-item {
   
    margin-left: 10px;
    float: left;
  }
  
  form {
    float: right;
    width: 30%;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  button,
  input[type="submit"] {
    padding: 5px 20px;
    margin: 0 10px 10px 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #659a98;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #bbb;
  }
  
  button:hover,
  input[type="submit"]:hover {
    background: #334e4d;
  }
  
  button.active {
    background: #334e4d;
  }
   */